<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Buy Ticket></title>
  </head>
  <body>
    <center><h1>Buy Ticket</h1></center>
      <center><h2>Tickets for: <%= title %>, <%= showtime %> at <%= theatre %></h2></center>
      <form method = "post">
      <h3>How many tickets?</h3>
      <div>
      Adult: <input type = "text" name = "adult" size = "10"><br><br>
      Senior: <input type = "text" name = "senior" size = "10"><br><br>
      Child: <input type = "text" name = "child" size = "10"><br><br>
      </div>
      <h3>Payment Information</h3>
      <div>
      Use a Saved Card <select name = "savedcard"><option value = "-">-</option><% for (var i = 0; i < cards.length; i++) { %> <option value = "<%= cards[i]['Card'] %>"><%= cards[i]['Card'] %> </option><% } %></select>
      </div>
      <div>
      <h3>Use a New Card</h3>
    </div>
    <div>
      <table>
    <tr>
      <td>
        Name on Card
      </td>
      <td>
        <input type = "text" name = "cardname" size = "100"><br><br>
      </td>
    </tr>
    <tr>
      <td>
        Card Number
      </td>
      <td>
        <input type = "text" name = "cardnumber" size = "16"><br><br>
      </td>
    </tr>
    <tr>
      <td>
        CVV
      </td>
      <td>
        <input type = "text" name = "cardcvv" size = "3"><br><br>
      </td>
    </tr>
    <tr>
      <td>
        Expiration Date
      </td>
      <td>
        <input type = "text" name = "cardexp" size = "7"><br><br>
      </td>
    </tr>
      </div>
    </table>
      <input type="checkbox" name="paysave" value="paysave">Save This Card
      &nbsp;&nbsp;&nbsp;
      <button type = "submit" formaction = "/confirm">Buy Tickets</button>
    </form>
  </body>
</html>
