<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - <%= data[0].title %></title>
  </head>
  <body>
    <h1><%=data[0].title %></h1>
  <table>
    <tr>
      <td>
        <p>Release date: <%= releasedate %><br>
           Runtime: <%= data[0].length %> minutes<br>
           Genre: <%= data[0].genre %><br>
           Rating: <%= data[0].avgreview %>
        </p>
      </td>
      <td>
        <form>
          <button type = "submit" formaction = "/overview">Overview</button><br>
          <button type = "submit" formaction = "/review">Movie Review</button><br>
          <button type = "submit" formaction = "/choose-theatre">Buy Ticket</button><br>
        </form>
      </td>
    </tr>
  </table>
  <form method = "post">
      <button type = "submit" formaction = "/back-home">Go Back</button>
  </form>
  </body>
</html>
