<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - <%= username %> Theatres</title>
    <link rel = "stylesheet" href = "/styles.css">
  </head>
  <body>
    <form method = "post">
    <h1><center>My Preferred Theatres</center></h1>
<% if (theatres.length != 0) { %>
  <table>
    <tr>
      <th>
        Select
      </th>
      <th>
        Location
      </th>
    </tr>
  <% for (var i = 0; i < theatres.length; i++){ %>
    <tr>
      <td>
        <input type = "radio" name = "select" value = "<%= theatres[i]['TheatreID'] %>">
      </td>
      <td>
        <%= theatres[i]['Name'] %> <br>
        <%= theatres[i]['Street'] %>, <%= theatres[i]['City'] %>, <%= theatres[i]['State'] %> <%= theatres[i]['ZIP'] %>
      </td>
    </tr>
  <% }; %>
</table>
  <% } %>
  <% if (theatres.length == 0) { %>
    <p>No Preffered Theatres</p>
  <% } %>
  <% if (theatres.length != 0){ %>
    <button type = "submit" formaction = "/delete-theatre">Delete</button>
<%  } %>
  <button type = "submit" formaction = "/back-me">Back</button>
</form>
</body>
</html>
