<html>
  <head>
    <meta charset="utf-8" />
    <title>UA Movie - Search></title>
  </head>
  <body>
    <center><h1>Results</h1></center>
    <center><h2>Theatres in <%= search %> </h2></center>
    <form method = "post">
    <p>
    <% if (result.length == 0) { %>
      No Results
    <% } %>
    <% if (result.length != 0) { %>
    <table>
      <% for (var i = 0; i < result.length; i++) { %>
        <tr>
          <td>
            <input type = "radio" name = "location" value = "<%= result[i]['Name'] %>" >
          </td>
          <td>
            <%= result[i]['Name'] %><br>
            <%= result[i]['Street'] %>, <%= result[i]['City'] %>, <%= result[i]['State'] %> <%= result[i]['Zip'] %>
          </td>
        </tr>
      <% } %>
    </table>
    <% } %>
    </p>
      <% if (result.length != 0) { %>
      <input type="checkbox" name="save" value="save">Save This Theatre
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type = "submit" formaction = "/choose-time">Next</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <% } %>
      <button type = "submit" formaction = "/back-theatre">Back</button>
    </form>
  </body>
</html>
